<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/admin-layout :: body}">

<div th:fragment="content">

    <h2 class="mb-3">Danh sách yêu cầu thuê phòng</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Khách thuê</th>
            <th>Phòng</th>
            <th>Ngày gửi</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="r : ${requests}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.fullName}"></td>
            <td th:text="${r.room.code}"></td>
            <td th:text="${#dates.format(r.createdAt, 'dd/MM/yyyy')}"></td>
            <td><span class="badge bg-info" th:text="${r.status}"></span></td>
            <td>
                <a th:href="@{'/admin/requests/' + ${r.id}}" class="btn btn-info btn-sm">Chi tiết</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</html>
